/*-----------------
    DEBUG
-----------------*/
.debug .header-top{
    background-color: black;
}

.debug .header-bottom{
    background-color: white;
}

/*-----------------
    HEADER
-----------------*/

.main-menu{
    color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
}

.play-logo{
    margin-top: 10px;
    margin-bottom: 10px;
}