/*-----------------
    DEBUG
-----------------*/
.debug .header-top{
    background-color: black;
}

.debug .header-bottom{
    background-color: white;
}


/*-----------------
    THYPO
-----------------*/
.title-text{
    font-size: 45px;
    margin-bottom: 20px;
}

/*---- hero ----*/
.hero-title{
    font-size: 35px;
    color: white;
    margin-top: 20px;
    font-weight: bold;
}

.hero-subtitle{
    font-size: 18px;
    color: white;
    margin-top: 20px; 
}
/*---- /hero ----*/

/*---- console description ----*/
.top-text-title{
    color: rgb(0, 157, 255);
    font-size: 15px;
    margin-top: 100px;
}

.gray-text{
    font-size: 20px;
    color: gray;
    font-weight: bold;
}
/*---- /console description ----*/


/*-----------------
    BUTTON
-----------------*/
.btn-shop-now{
    background-color: rgb(204, 75, 24);
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.btn-more-info{
    color: white;
    background-color: rgb(0, 68, 255);
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
}

/*-----------------
    HEADER
-----------------*/

.main-menu{
    color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
}

.play-logo{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*-----------------
    MAIN
-----------------*/

/*---- hero section ----*/
main{
    margin-top: 90px;
}
.hero{
    background-image: url("../img/jumbo-bg.png");; 
    background-color: #cccccc; 
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-logo{
    margin-top: 270px;
    align-items: center;
}
/*---- /hero section ----*/

/*---- game gallery section ----*/
.game-portfolio {
    position: relative;
}
.game-portfolio img {
    width: 100%;
    border-radius: 25px;
    margin-top: 30px;
}
/*---- /game gallery section ----*/

/*---- console description section ----*/

