/*-----------------
    DEBUG
-----------------*/
.debug .header-top{
    background-color: black;
}

.debug .header-bottom{
    background-color: white;
}

/*-----------------
    HEADER
-----------------*/

.main-menu{
    color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
}

.play-logo{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*-----------------
    MAIN
-----------------*/
.hero{
    background-image: url("img/jumbo-bg.png"); 
    background-color: #cccccc; 
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}